@import "bootstrap-sprockets";
@import "bootstrap";

/* UNIVERSAL */

body {
  padding-top: 80px;
  color: #9D9D9D;
}

.center {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* TEXT */

h1 {
  font-size: 9vw;
  font-weight: bold;
  color: black;
}

h3 {
  font-size: 3vw;
  font-weight: bold;
  color: black;
}

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* MISCELLANEOUS */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
