<div class="col-xs-10 col-xs-offset-1">
  <div class="center">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h3><%= @suggestion.name %></h3>
      </div>
    </div>
  </div>
</div>
